<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<location path="CourseAccess.aspx">
		<system.web>
		<authorization>
				<allow roles="SaltAdmin" />
				<deny users="*" />
		</authorization>
		</system.web>
	</location>
	<location path="ImportUsersSample.aspx">
		<system.web>
		<authorization>
				<allow roles="SaltAdmin, OrgAdmin, UnitAdmin" />
				<deny users="*" />
		</authorization>
		</system.web>
	</location>
	<system.web>
		<authorization>
			<allow roles="SaltAdmin, OrgAdmin" />
			<deny users="*" />
		</authorization>
	</system.web>
</configuration>