<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="XSLFile" value="XSL\\Transform.xsl"/>
        <!--
            %InFileName% - name of the imput XSL-FO document
            %OutFileName% - name of the output RDF document
        -->
        <add key="CommandLineTool" value="GO.BAT "/>
        <add key="OutputExtension" value="DOC"></add>
    </appSettings>
</configuration>

