<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<authorization>
			<deny roles="User" />
			<deny users="?" />
		</authorization>		
	</system.web>
	<appSettings>

    <!--<add key="ConnectionString" value="Data Source=bdw2008r2;Initial Catalog=salt_4.3.0;User Id=salt_user;"/>
<add key="ConnectionStringPassword" value="chW8rsd/j+9q2Y/ULiNVlCY7YpYmgVY1T/mY8H2MpfHwR+8jw0dm7SROaMESJ2ROHDerlBzU0P31V0yPtWUEzZXKoi8F5nNRfy/7kEKMu2kEipGPlhppNBZkCohtfl7svs0JVLHzx5qAGEpFEYtmRCZ3R8KgbA5NxA8DILpl/tI="/>-->

    <!--<add key="ConnectionString" value="Data Source=BDWSTAGING;Initial Catalog=salt_demo;User Id=salt_user;"/>
    <add key="ConnectionStringPassword" value="fcXUxtHB9UwGygyhpKLnvNOTQTr1T/TGTzBEs4/h+xDCgo1VfZNecG+RvfF0vpLuZrAsjtJxg7y07S7yAAb0hLJELQ+KJL7hMxi73NxjYK+TWc4eN7YN5OLMXk+v71HMubHmqSFcddE6h0WPl/9AQthWOic6uXhrpIV4iRAGd/0="/>-->

    <!--For Production-->
    <add key="ConnectionString" value="Data Source=125.7.25.228;Network Library=DBMSSOCN;Initial Catalog=salt_bg;User Id=salt_user;"/>
    <add key="ConnectionStringPassword" value="gUcajmBL7rzmPCVlfbkS8tlMBHt8ISuGUJ+RetDye6EbVT5nfJEJIfDE/JNwMzPEQnwQ2ES5u3LdTcUggMOXXC4qv5ri9IJJAlBonTs/opm4+3cWW3yiGpUb8+6UaA+0JVwdTSla4znVE7enp9A9M8nzlFU7QyQ1dfMs4Vxe/7M="/>

    
    <!--<add key="ConnectionString" value="Data Source=BDW-STAGING\SQL2008CLUSTER;Network Library=DBMSSOCN;Initial Catalog=salt_site05;User Id=salt_user;"/>
    <add key="ConnectionStringPassword" value="gUcajmBL7rzmPCVlfbkS8tlMBHt8ISuGUJ+RetDye6EbVT5nfJEJIfDE/JNwMzPEQnwQ2ES5u3LdTcUggMOXXC4qv5ri9IJJAlBonTs/opm4+3cWW3yiGpUb8+6UaA+0JVwdTSla4znVE7enp9A9M8nzlFU7QyQ1dfMs4Vxe/7M="/>-->


  </appSettings>	
</configuration>